body {
  background-color: #CCD3CA;
  }
 
.container {
  display: flex;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  padding: 20px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  max-width: 500px;
}

.btn {
    display: flex;
    justify-content: space-evenly;

    }

button {
  padding: 10px;
  text-transform: uppercase;
  width: 170px;
  font-size: 15px;
  border: solid 1px #B4B4B8;
  letter-spacing: 2px;
  
}
